﻿@using Morse.Models
@using Morse.Controllers

@model Morse.Models.TraductorModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @using (Html.BeginForm())
    {
        <div class="jumbotron">
            <h2>Traductor</h2>
            <p>@Html.EditorFor(x => x.TextoOrigen)</p>
            <p>@Html.DisplayFor(x => x.Resultado)</p>
            <p>
                <input type="submit" value="translate2Human" name="command" />
                <input type="submit" value="decodeBits2Morse" name="command" />
                <input type="submit" value="Clear" name="command" />
            </p>
        </div>
    }

